@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
	font-family: poppins!important;
	color: #616368;
	-webkit-user-select: text;
}
a {
	text-decoration: none;
}
.hidden {
	display: none;
}
.button-up, .button-up:visited {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #616368;
}
.button-up:focus, .button-up:hover {
		color: #242f51;
	}
.fab:hover {
	color: white;
}
.btn.focus, .btn:focus {
	box-shadow: none;
}
.button, select {
	border: 0px;
}
.app-color {
	color: #fcae61;
}
.lab-color {
	color:#242f51;
}
.lab-color-footer {
	color: white;
}
.title {
	color: #242f51;
	font-weight: 600;
}
.header {
	margin-top: 50px;
}
.navbar {
	padding: .5rem 0;
	-webkit-user-select: none;
}
.navbar-brand {
	font-size: 30px;
}
.nav-item {
	margin-right: 27px;
}
.btn-group-lg>.btn, .btn-lg { 
	font-weight: bold;
	font-family: poppins;
	font-size: 16px;
	background-color: #2500f9;
	padding: 1rem 2.5rem;
}
.btn-group-sm>.btn, .btn-sm {
	font-weight: bold;
	font-family: poppins;
	font-size: 16px;
	padding: 0.8rem 2rem;
	margin: 0.2rem 0;
}
.main {
	background: url(../media/head-bg-blink.png), 
	            url(../media/head-city.png) bottom repeat-x;
}
.main-content {
	height: 790px;
}
.bg-head-mobi img {
	width: 100%;
	max-width: 400px;
	-webkit-user-select: none;
}
.main-badge {
	width: 360px;
}
.bg-light {
	background-color: #f5f7fa!important;
}
.icon-check {
	background-color: #feaa25;
	color: white;
	text-align: center;
}
.main-title {
	font-size: 60px;
}
.main-subtitle {
	font-size: 18px;
	max-width: 500px;
}
.main-link {
	color: #2500f9;
}
.main-link span {
	-webkit-user-select: none;
}
.main-link:hover {
	text-decoration: none;
}
.awesome-app {
	margin-top: 80px;
}
.patner1 {
	background-image: url(../media/partner1.png);
}
.patner2 {
	background-image: url(../media/partner2.png);
}
.patner3 {
	background-image: url(../media/partner3.png);
}
.patner4 {
	background-image: url(../media/partner4.png);
}
.patner5 {
	background-image: url(../media/partner5.png);
}
.bg-partner {
	background-repeat: no-repeat;
	background-position: center;
	height: 85px;
}
.awesome-app-content{
	margin-top: 100px;
}
.img-awesome-app img {
	width: 100%;
	max-width: 600px;
	max-height: 810px;
	-webkit-user-select: none;
}
.awsome-title {
	font-size: 36px;
	margin-top: 20px;
}
.awsome-subtitle {
	max-width: 500px;
}
.icon-perfomence {
	background-image: url(../media/icon-speed.png);
}
.icon-prototyping {
	background-image: url(../media/icon-prototype.png);
}
.icon-vector {
	background-image: url(../media/icon-vector.png);
}
.icon-bg {
	width: 100%;
	height: 115px;
	background-repeat: no-repeat;
	background-position: bottom;
	min-width: 95px;
}
.icon-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.red-title {
	color: #f45d6c;
} 
.blue-title { 
	color: #2563ff;
}
.green-title {
	color: #40975f;
}
.smart {
	margin-top: 100px;
}
.smart-title {
	font-size: 40px;
	border-right: solid 1px #b9b9b8;
}
.smart-subtitle {
	align-items: center;
	display: flex;
}
.icon-bill {
	background-image: url(../media/icon-bill.png);
	background-position: bottom left;
}
.icon-network {
	background-image: url(../media/icon-network.png);
	background-position: bottom left;
}
.icon-badge {
	background-image: url(../media/icon-badge.png);
	background-position: bottom left;
}
.icons-smart >div {
	max-width: 300px;
}
.design-title {
	font-size: 36px;
}
.design {
	margin-top: 100px;
}
.design img {
	width: 100%;
}
.design-text {
	padding-left: 60px;
}
.why-choose {
	margin-top: 100px;
}
.why-choose-text {
	text-align: center;
}
.why-choose-title {
	font-size: 36px;
}
.icon-app {
	background-image: url(../media/icon-app.png);
}
.icon-10times{
	background-image: url(../media/icon-10times.png);
}
.icon-cloud {
	background-image: url(../media/icon-cloud.png);
}
.icon-costom {
	background-image: url(../media/icon-costom.png);
}
.icon-ux {
	background-image: url(../media/icon-ux.png);
}
.icon-costomer2 {
	background-image: url(../media/icon-costomer2.png);
}
.ultimate-title {
	font-size: 36px;
}
.icon-appdev {
	background-image: url(../media/icon-app.png);
	background-position: bottom left;
} 
.icon-ux2 {
	background-image: url(../media/icon-ux2.png);
	background-position: bottom left;
}
.icon-cloud2 {
	background-image: url(../media/icon-cloud.png);
	background-position: bottom left;
}
.icon-costomer {
	background-image: url(../media/icon-costomer.png);
	background-position: bottom left;
}
.ultimate img {
	width: 100%;
}
.ultimate {
	margin-top: 100px;
	background: url(../media/ultimate-bg.png) right bottom no-repeat;
	background-size: 40%;
}
.charge {
	margin-top: 120px;
}
.charge-title {
	font-size: 36px;
}
.button-switch {
	border-radius: 50rem;
	border: solid 1px #ebebeb;
	width: 285px;
	height: 55px;
	margin-top: 50px;
}
.btn-switch {
	border: 0px;
	color: #616368;
	transition: 0.5s ease-out;
}
.active-switch {
	background-color: #2500f9;
	color: white;
	border: 0px;
}
.active-switch:hover {
	color: white;
}
.price-bg {
	background: linear-gradient(0deg, rgba(240,240,242,1) 0%, rgba(254,254,254,1) 43%);
	height: 230px;
}
.price {
	font-size: 60px;
}
.period {
	padding: 20px 0;
	font-size: 18px;
}
.price-title {
	font-size: 20px;
}
.box-price > div {
	box-shadow: 1px 35px 50px rgba(46, 49, 49, 0.09)
}
.box-price {
	width: 100%;
	margin-top: 50px;
}
.profit-list {
	margin-top: 30px;
}
.profit-lis p {
	margin-bottom: 20px;
}
.box-annually {
	display: none;
}
.box-monthly.year {
	display: none;
}
.box-annually.year {
	display: flex;
}
.clients{
	background-image: url(../media/map-people.png);
	background-size: 50%;
	background-position: left center;
	background-repeat: no-repeat;
	margin-top: 200px;
	min-height: 580px;
}
.clients-title {
 	font-size: 40px;
}
.review-avatar {
	border-radius: 50%;
	height: 90px;
	width: 90px;
	object-fit:cover;
}
.checked {
	color: orange;
}
.carousel-control-next, 
.carousel-control-prev {
	color: black;
	opacity: 0.3;
	top: unset;
	left: unset;
	display: block;
	bottom: 20px;
	width: 71px;
}
.carousel-control-prev {
	right: 50px;
}
.carousel-control-next {
	right: 6px;
}
.carousel-control-prev::after {
	content: " ";
	background-color: black;
	opacity: 0.7;
	width: 1px;
	height: 25px;
	display: block;
	position: absolute;
	bottom: 2px;
	right: 13px;
}
.carousel-control-next:focus, 
.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover {
    color: #616368;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.questions {
	margin-top: 200px;
}
.questions-list {
	width: 100%;
}
.questions-title {
	font-size: 40px;
}
.bi-dash {
	display: none;
}
.card.open .bi-plus {
	display: none;
}
.card.open .bi-dash {
	display: block;
}
.card {
	border: unset;
	background-color: #f5f7fa;
	width: 100%;
}
.card-header {
	background-color: unset;
	border-bottom: unset;
	width: 100%;
	padding: 0;
}
.card-body {
	padding: 1.25rem 3rem;
}
.questions .btn { 
	padding: 1.125rem 2rem;
	font-size: 20px;
	text-decoration: none;
}
.button-plus {
	display: flex;
	justify-content: space-between;
}
.download {
	background-image: url('../media/download-bgr.png');
	background-size: 46%;
	background-position: right bottom;
	background-repeat: no-repeat;
	margin-top: 150px;
	border-top: solid 1px #f4f4f4;
}
.download-title {
	font-size: 48px;
}
.download .row {
	height: 100%;
}
.download .container-md {
	height: 550px;
	padding: 0;
}
footer {
	background-color: #09142e;
}
footer .container-md {
	height: 535px;
}
.footer-logo {
	font-size: 30px;
	font-weight: bold;
}
.fab{
	font-size: 25px;
}
.social-icons a {
	color: #273043;
	padding: 0 5px;
}
.social-icons {
	margin-bottom: 90px;
}
.footer-nav a {
	color: white;
}
.footer-nav {
	margin: 50px 0;
}
.footer-nav .nav-item:hover {
	opacity: 0.8;
}
.test {
	height: 100px;
	width: 100%;
}
.footer-content {
	height: 100%;
}
@media(max-width: 1200px) {
    .icons-smart > div {
    	margin-right: 0!important;
    }
}
@media(max-width: 991px) {
	.ultimate {
		background-size: 0px;
	}
}
@media(max-width: 950px) {
	.img-awesome-app {
		justify-content: center;
	} 
	.smart-title {
		font-size: 35px;
	}
}
@media(max-width: 820px) {
	.design-title {
		font-size: 30px;
	}
	.download .container-md {
		height: 400px;
	}
}
@media(max-width: 800px) {
	.smart-title {
		font-size: 30px;
	}
	.download {
		background: unset;
	}
	.download-content {
		justify-content: center!important;
	} 
}
@media(max-width: 767px) {
	.main-content {
		height: 600px;
	}
	.main-title {
		font-size: 48px;
	}
	.awesome-app-text {
		margin-left: 80px;
	}
	.icon-badge {
		background-position: bottom;
	}
	.clients {
		background: none;
	}
}
@media(max-width: 720px) {
	.design-title {
		font-size: 23px;
	}
}
@media(max-width: 700px) {
	.smart-title{
		font-size: 24px;
	}
	.smart-subtitle {
		font-size: 14px;
}
@media(max-width: 576px) {
	.main-title {
		font-size: 39px;
	}
	.main-content {
		height: 400px;
	}
	.main {
		margin-top: 0!important;
	}
	.main-subtitle {
		font-size: 16px;
	}
	.awesome-app-content {
		margin-top: 36px;
	}
	.awesome-app-text {
		margin-left: 20px;
	}
	.smart-title {
		border-bottom: solid 1px #b9b9b8;
		border-right: 0px;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.icons-smart {
		margin-left:0px;
	}
	.icon-bill, .icon-network, .icon-badge{ 
		background-position: bottom;
	}
	.icons-smart .icon-title {
		text-align: center;
	}
	.design-text{
		margin-top: 30px;
	}
	.design-text > div {
		padding: 0;
	}
	.box-monthly > div {
		margin:20px 0!important;
	}
	.box-annually > div {
		margin:20px 0!important;
	}
	.clients {
		margin-top: 150px;
	}
}
@media(max-width: 500px) {
	.col-10-costom {
		flex: 0 0 83.333333%;
    	max-width: 83.333333%;
	}
	.icons-ultimate {
		justify-content: center;
		text-align: center;
	}
	.icon-bg{ 
		background-position: center;
	}
	.ultimate-title {
		text-align: center;
	}
	.ultimate-subtitle {
		text-align: center;
	}
	.why-choose-title {
		font-size: 23px;
	}
	.download-title {
		font-size: 40px;
	}
	.header {
		margin-top: 0px;
	}

}
@media(max-width: 400px) {
	.carousel-control-next, 
	.carousel-control-prev {
		bottom: 0px;
		width: 25px;
	}
	.carousel-control-next svg, 
	.carousel-control-prev svg {
		width: 1.5em; 
		height: 1.5em;
	}
	.carousel-control-prev {
		right: 42px;
	}
	.carousel-control-prev::after {
		height: 18px;
		right: -6px;
	}
	.footer-nav {
		margin: 30px 0;
	}
	.social-icons {
		margin-bottom: 60px;
	}
	footer p {
		font-size: 14px;
		margin: 0;
	}
	.button-up {
	    position: fixed;
	    bottom: 50px;
	    right: 10px;
	    color: #616368;
	}
	.questions {
      margin-top: 150px;
	}
	.questions-title {
    	font-size: 37px;
	}
}
@media(max-width: 325px) {
	.why-choose-title {
		font-size: 20px;
	}
	.awsome-title {
		font-size: 30px;
	}
	.ultimate-title {
		font-size: 30px;
	}
	.charge-title {
		font-size: 30px;
	}
	.btn-group-lg>.btn, .btn-lg { 
		padding: 0.8rem 1.5rem;
	}
	.price{
		font-size: 45px;
	}
	.clients-title {
		font-size: 30px;
	}
	.clients {
		margin-top: 100px;
	}
	.questions-title {
		font-size: 25px;
	}
	.download-title {
		font-size: 33px;
	}
}














